#backend
venv/
backend/venv

.env
.env.*
*.env
.env.txt

__pycache__/
*/__pycache__/

chatbot/model/
models/
model/
*.bin
*.safetensors
*.pt
*.gguf

build/
bin/
dist/
*.pyc
*.pyo
*.pyd
.cache/

# Model weights / checkpoints
ml_models/plant_disease/checkpoints/
*.pth


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
TODO.md

# Model files (VERY IMPORTANT)
*.pkl
*.joblib
*.h5
*.onnx

# Large datasets / CSVs
*.csv
*.xlsx
*.tsv


# Test outputs
coverage/
*.tmp
*.bak


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

#vs code
.vscode/
.idea/
