fastapi
uvicorn
langchain
transformers
torch
accelerate
sentence-transformers
faiss-cpu
huggingface_hub
python-dotenv
psycopg2-binary
pydantic
bitsandbytes
asyncpg
bcrypt==4.0.1
PyJWT==2.8.0
email-validator

